<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked floating>Nome*</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.nome.dirty && signup.controls.nome.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked floating>Email*</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.email.dirty && signup.controls.email.errors" margin-left>Valor inválido</p>

    <ion-list radio-group formControlName="tipo">
      <ion-list-header>Tipo de cliente</ion-list-header>
      <ion-item>
        <ion-label>Pessoa física</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Pessoa jurídica</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked floating>CPF ou CNPJ*</ion-label>
      <ion-input type="text" formControlName="cpfOuCnpj" [brmasker]="{person: true}"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.cpfOuCnpj.dirty && signup.controls.cpfOuCnpj.errors" margin-left>Valor
      inválido</p>

    <ion-item>
      <ion-label stacked floating>Senha*</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.senha.dirty && signup.controls.senha.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked floating>Logradouro*</ion-label>
      <ion-input type="text" formControlName="logradouro"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.logradouro.dirty && signup.controls.logradouro.errors" margin-left>Valor
      inválido</p>

    <ion-item>
      <ion-label stacked floating>Número*</ion-label>
      <ion-input type="text" formControlName="numero"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.numero.dirty && signup.controls.numero.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked floating>Complemento</ion-label>
      <ion-input type="text" formControlName="complemento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked floating>Bairro</ion-label>
      <ion-input type="text" formControlName="bairro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked floating>CEP*</ion-label>
      <ion-input type="text" formControlName="cep" [brmasker]="{mask:'00000-000', len:9}"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.cep.dirty && signup.controls.cep.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked floating>Telefone 1*</ion-label>
      <ion-input type="text" formControlName="telefone1" [brmasker]="{phone: true}"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="signup.controls.telefone1.dirty && signup.controls.telefone1.errors" margin-left>Valor
      inválido</p>

    <ion-item>
      <ion-label stacked floating>Telefone 2</ion-label>
      <ion-input type="text" formControlName="telefone2" [brmasker]="{phone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked floating>Telefone 3</ion-label>
      <ion-input type="text" formControlName="telefone3" [brmasker]="{phone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked floating>Estado*</ion-label>
      <ion-select #selectEstado formControlName="estadoId" (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados; first as f" [value]="estado.id" [selected]="f"> {{estado.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked floating>Cidade*</ion-label>
      <ion-select formControlName="cidadeId">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <button [disabled]="signup.inValid" ion-button block type="submit">CRIAR CONTA</button>
  </form>
</ion-content>